.container {
	width: 100vw;
	height: 100vh;
}

/* le spinner circulaire */
.spinner {
	width: 50px;
	height: 50px;
	border: 5px solid #f29421;
	border-top-color: #010101; /* couleur du segment animé */
	border-radius: 50%;
	animation: spin 0.9s linear infinite;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

/* texte invisible visuellement mais lisible par lecteurs d'écran */
.sr-only {
	position: absolute !important;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	white-space: nowrap;
	border: 0;
}

.loading {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
}

.notLoading {
	display: none !important;
}

.loginAppContainer {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loginAppContainer .loginCardTitle,
.loginAppContainer .loginCardContent,
.loginAppContainer .loginCardAction {
	padding: unset !important;
}

.loginAppContainer .loginCard {
	width: 500px;
	padding: 18px;
}

.loginAppContainer .loginCardAction {
	height: 40px;
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
}

.loginCardTitle {
	margin-bottom: 40px;
}

.loginCardTitle .logoImg {
	width: 100%;
	height: 150px;
}

.loginCardTitle .logoImg .logo {
	width: 100%;
	height: 100%;
}

.loginCardTitle .logoImg .logo .img {
	width: 100%;
	height: 100%;
}

.loginCardTitle .description {
	line-height: 25px;
	word-break: keep-all;
	text-align: justify;
	font-size: 0.7em;
}

.localLogin {
	width: 100%;
	min-height: 180px;
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.externalLogin {
	width: 100%;
	min-height: 50px;
	padding: 5px;
}

.connectionBtn {
	margin-bottom: 10px;
}

.divider {
	margin: 15px 0;
}

.dividerBar {
	display: flex;
	align-items: center;
}

.dividerText {
	text-transform: capitalize;
}

.alertDiv {
	color: red !important;
}

.loginAppContainer .loginCard .description_text {
	margin-bottom: 10px;
}
